:root {
	--color--first: darkslategray;
	--color--second: indianred;
	--color--accent: #fff;
	--color--background: #242424;
}

.btn {
	padding: 8px 20px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	border: none;
	cursor: pointer;
}

.btn--primary {
	background-color: var(--color--first);
	color: var(--color--accent);
}


.btn--secondary {
	background-color: var(--color--second);
	color: var(--color--accent);
}

.btn--medium {
	padding: 14px 45px;
	font-size: 18px;
}

.btn--large {
	padding: 20px 50px;
	font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
	opacity: 80%;
	transition: 250ms;
}